<div class="container">
    <br><br><br>
    <h2 class="section-title mb-4 text-center">Our Classes</h2>
    <div class="row">
        <div class="col-lg-6 col-md-6 mb-4" *ngFor="let courseWithInstructors of coursesWithInstructors">
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-auto">
                        <!-- Add your course image here -->
                        <img [src]="courseWithInstructors.course.courseImage" alt="Course Image"  class="img-fluid">

                    </div>
                    <div class="col">
                        <div class="card-body">
                            <h3 class="card-title">{{ courseWithInstructors.course.title }}</h3>
                            <p class="card-text">
                                <strong>Instructor:</strong> {{ courseWithInstructors.instructor.name }}
                                

                                <strong>Rating:</strong> {{ courseWithInstructors.instructor.rating }} / 5
                            </p>
                            <p class="card-text"><strong>Price:</strong> ${{ courseWithInstructors.course.price }}</p>
                            <p class="card-text"><strong>Age Range:</strong> 12-36</p>
                            <p class="card-text"><strong>Venue:</strong> {{ courseWithInstructors.course.schedule[0].location }}</p>
                            <p class="card-text"><strong>Duration:</strong> 3 hours</p>
                            <p class="card-text"><strong>No. of Open Spots:</strong> 20</p>
                            <a [routerLink]="['/class', courseWithInstructors.course.courseName]" class="btn btn-secondary">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
